doctype html
html
  head
    title Project 10
    style #hide{display:none}
    body
      div(id='createListBox')
        h2 create lists
        form(method='POST', action='/createlist')
          input(name='listName', value="", required)
          button Add List
      div(id='completeLists')
        form(method='POST', action='/clearcompletelists')
          button Clear Complete Lists
      div(id='completeTasks')
        form(method='POST', action='/clearcompletetasks')
          button Clear Complete Tasks
      div(id='todoListBox')
        each list in data
          div
            h3= list.listName
            form(method='POST', action='/addtask')
              input(name='taskname', value="", required)
              input(name='location', value=list._id, required style='display: none;')
              button Add Task
            form(method='POST', action='/marklistcomplete')
              input(name='location', value=list._id, required style='display: none;')
              button Mark List complete
            form(method='POST', action='/deletelist')
              input(name='location', value=list._id, required style='display: none;')
              button Delete List
            div(class='items')
              //Was potentialy going to add in an id, but I don't know how that would react to spaces.
              each task in list.tasks
                span= task.name
                  form(method='POST', action='/marktaskcomplete')
                    input(name='location', value=list._id, required, style='display: none;')
                    input(name='taskName', value=task.name, required, style='display: none;')
                    button Mark Task Complete
                  form(method='POST', action='/deletetask')
                    input(name='location', value=list._id, required, style='display: none;')
                    input(name='taskName', value=task.name, required, style='display: none;')
                    button Delete Task

//- input(name='name', value=user.name, required)
